body {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-color: #181818;
  color: white;
  text-shadow: 1px 1px 5px rgb(0, 0, 0);
}

footer{
    text-align: center;
    width: 100%;
    padding: 1rem 0;
}
#resultado{
    height: 50px;
}
.container {
  background-color: rgb(0, 121, 111);
  padding: 2rem;
  border-radius: 10px;
  border: 1px solid black;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  width: fit-content;
  box-shadow: 0px 0px 50px rgba(0, 225, 255, 0.35), inset 0px 0px 20px rgb(0, 77, 87);
}
.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 15px;
}
.col {
  width: 50%;
}
label {
  margin: 10px 0;
}
input,
select {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 30px;
}
#valor {
  max-width: 84%;
}
.button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
button {
  padding: 10px 15px;
  border-radius: 30px;
  background-color: springgreen;
  border: 1px solid rgba(0, 0, 0, 0.356);
  box-shadow: 3px 3px 1px rgb(20, 20, 20);}
button:hover {
  box-shadow: 3px 3px 1px rgb(20, 20, 20), inset 0px 0px 5px rgb(255, 255, 255);
  transform: scale(1.05);
  cursor: pointer;
  transition: all 0.3s ease;
}

.carroussel{
    height: 50px;
}

img{
    width: 50px;
    border-radius: 10px;
    animation: 4s ease-in slide infinite;
}

a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: .5rem;
    border: 1px solid white;
    border-radius: 25px;
    &:hover{
        text-decoration: underline;
    }
}

@media (max-width: 600px) {
  body {
    padding: 1rem;
}
.container {
    width: 80%;
    height: fit-content;
    padding: 2rem;
    margin-bottom: 50px;
  }
  .row {
    flex-direction: column;
    align-items: flex-start;
  }
  #valor {
    max-width: calc(100% - 20px);
  }
  .col {
    width: 100%;
  }
  input,
  select {
    width: 100%;
  }
}



@keyframes slide {
  0% {
    opacity: 0;
    transform: translateX(+100%);
  }
  50% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(-100%);
  }


}
